[Service]
WorkingDirectory=/home/pi/evepraisal-discord-bot
ExecStart=/usr/bin/npm run start
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=evepraisal-discord-bot
User=pi
Group=pi

[Install]
WantedBy=multi-user.target